.Brand li{
    font-size: 1rem;
    width: 168px;
    padding: 5px 0;
  
}
.Brand{
    display: flex;
    flex-wrap: wrap;
    float: left;
    font-size: 0;
    width: 67%;
    margin-top: 10px;
    list-style: none;
}
.Brand svg{
    height: 20px;
    width: 133px;
    padding-left: 10px;
}
.Brand li a:hover path{
    fill:#00bfa5;
}
.Brand a path{
    fill: hsla(0,0%,67%,.7);
}
.Brand a{
    display: inline-block;
    padding: 5px 0;
}
.sect-Brand{
    display: flex;
    width: 80%;
    margin: auto;
}
.sect-Brand h1{

    float: left;
    width: 33%;
    font-size: 1.625em;
    margin: .25em 0 .35em;
    padding-right: 1em;
    color: #00b39b;
}