
a{
  text-decoration: none;
}
.list-nav{
  margin-right: 20px;

}
.nav{
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-around; */
  list-style: none;
  position: relative;
  border-bottom:  solid  white ;
  width: fit-content;
  
}

li{
  list-style: none;
}

.list-subMenu{
  position: absolute;
  display: none;
  top: 100%;
  padding: 0px;
  border:  solid  white ;
}

li:hover .list-subMenu{
  
  display: block;
}
.active{
  color: black;
}
